.movie-list-wrapper {
  position: relative;

  --display-gap: 0.4%;
  --display-number: 2;
  --lr-padding: 4%;
  --border-radius: 4px;

  @media screen and (min-width: 480px) {
    --display-number: 3;
  }

  @media screen and (min-width: 768px) {
    --display-number: 4;
  }

  @media screen and (min-width: 1024px) {
    --display-number: 5;
  }

  @media screen and (min-width: 1280px) {
    --display-number: 6;
  }

  .movie-list {
    --item-and-gap-width: calc((100% - var(--lr-padding) * 2 + var(--display-gap)) / var(--display-number));

    padding: 0 var(--lr-padding);
    width: 100%;
    display: flex;
    gap: var(--display-gap);

    .movie-list-item {
      flex-shrink: 0;
      border-radius: var(--border-radius);
      overflow: hidden;

      display: flex;
      width: calc((100% - var(--display-gap) * (var(--display-number) - 1)) / var(--display-number));
      aspect-ratio: 16/9;
    }
  }

  %scroll-button {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(var(--lr-padding) - var(--display-gap));

    border: none;
    background-color: rgba($color: #000000, $alpha: 0.25);
    cursor: pointer;
    color: white;
    transition: 0.2s;
    border-radius: var(--border-radius);

    &:disabled {
      cursor: initial;
      opacity: 0;
    }
  }

  .scroll-left-button {
    @extend %scroll-button;
    left: 0;
  }

  .scroll-right-button {
    @extend %scroll-button;
    right: 0;
  }
}
