*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  min-width: 0;
  word-wrap: break-word;
  word-break: keep-all;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

:root {
  font-size: 1.5vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  --lr-padding: 4%;
  --border-radius: 4px;
}
