.search_container {
  height: 100%;
  flex: 0.15;

  min-width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;


  .input_container {
    height: 100%;
    width: 100%;
    

    display: flex;
    align-items: center;

    .input_image{
      flex:0.1;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    img {
      height: 30px;
    }
  }

    input {
      flex: 0.8;
      height: 50%;
      border: 0px;
      color: white;
      border-radius: 20px;
      background-color: #141414;
      opacity: 0.8;
      padding: 10px;
    }
  }
}